
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.admin-color {
  color: #fff;
  background-color: $red;
}

.user-color {
  color: #fff;
  background-color: $blue;
}

.users-color {
  color: #fff;
  background-color: $red;
}

.roles-color {
  color: #fff;
  background-color: $pink;
}

.permissions-color {
  color: #fff;
  background-color: $orange;
}

.projects-color {
  color: #fff;
  background-color: $indigo;
}

.tasks-color {
  color: #fff;
  background-color: $cyan;
}